@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Bold.ttf) format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Regular.ttf) format('ttf');
  font-weight: 400;
}
