<section class="about">
  <div class="container">
    <div class="price">
      <ul class="price__list">
        <li class="price__item">
          <span class="price__name">Дивани</span>
          <svg width="10" height="10" aria-label="arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </li>
        <li class="price__item">
          <span class="price__name">ліжка</span>
          <svg width="10" height="10" aria-label="arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </li>
        <li class="price__item">
          <span class="price__name">Крісла</span>
          <svg width="10" height="10" aria-label="arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </li>
        <li class="price__item">
          <span class="price__name">комоди</span>
          <svg width="10" height="10" aria-label="arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </li>
        <li class="price__item">
          <span class="price__name">шафи</span>
          <svg width="10" height="10" aria-label="arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </li>
        <li class="price__item">
          <span class="price__name">Кухня</span>
          <svg width="10" height="10" aria-label="arrow">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </li>
      </ul>
      <div class="logo">
        <a href="#"><img src="./images/logo-header.svg" alt="logo" /></a>
      </div>
      <div class="cart">
        <a class="cart__text" href="#">
          <svg class="cart__icon" width="20" height="20" aria-label="cart">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
          Кошик</a
        >
        <button class="button button__about" type="button">
          Замовити дзвінок
        </button>
      </div>
    </div>
  </div>
</section>
