<section class="advantage">
  <div class="container">
    <h2 class="section__title">Наші переваги</h2>

    <ul class="examples-set">
      <li class="examples-item">
        <div class="examples-thumb">
          <img
            class="examples-image"
            src="./images/advantage/image-one.png"
            alt="image-one"
          />
          <div class="examples-overlay">
            <div class="examples-actions">
              <h3 class="examples-title">Меблі преміум класу</h3>
              <p class="examples-text">
                За 14 років на ринку меблів для дому ми стали надійними
                партнерами на ринку Вінницької області та України
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="examples-item">
        <div class="examples-thumb">
          <img
            class="examples-image"
            src="./images/advantage/image-two.png"
            alt="image-two"
          />
          <div class="examples-overlay">
            <div class="examples-actions">
              <h3 class="examples-title">Надійність</h3>
              <p class="examples-text">
                За 14 років на ринку меблів для дому ми стали надійними
                партнерами на ринку Вінницької області та України
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="examples-item">
        <div class="examples-thumb">
          <img
            class="examples-image"
            src="./images/advantage/image-three.png"
            alt="image-three"
          />
          <div class="examples-overlay">
            <div class="examples-actions">
              <h3 class="examples-title">Безкоштовна доставка</h3>
              <p class="examples-text">
                За 14 років на ринку меблів для дому ми стали надійними
                партнерами на ринку Вінницької області та України
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
