<!-- <section class="advantage">
  <div class="container">
    <h2 class="section__title">Наші переваги</h2>
    <div class="slider">
      <div class="slide">
        <img
          class="slide__image"
          src="./images/advantage/image-one.png"
          alt="image-one"
        />
        <div class="image__text">
          <h4>Меблі преміум класу</h4>
          <p>
            За 14 років на ринку меблів для дому ми стали надійними партнерами
            на ринку Вінницької області та України
          </p>
        </div>
      </div>
      <div class="slide">
        <img
          class="slide__image"
          src="./images/advantage/image-two.png"
          alt="image-two"
        />
        <div class="image__text">
          <h4>Надійність</h4>
          <p>
            За 14 років на ринку меблів для дому ми стали надійними партнерами
            на ринку Вінницької області та України
          </p>
        </div>
      </div>
      <div class="slide">
        <img
          class="slide__image"
          src="./images/advantage/image-three.png"
          alt="image-three"
        />
        <div class="image__text">
          <h4>Безкоштовна доставка</h4>
          <p>
            За 14 років на ринку меблів для дому ми стали надійними партнерами
            на ринку Вінницької області та України
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
