<section class="advice">
  <div class="container">
    <h2 class="section__title">Залишились питання?</h2>
    <div class="advice__block">
        <h3 class="advice__block__title">Замовте консультацію</h3>
        <form class="form">
            <input class="form__input" type="text" name="firstname" placeholder="Віталій">
            <input class="form__input" type="text" name="lastname" placeholder="Номер телефону">
            <button class="button form__button" type="submit">ВІдправити</button>
        </form> 
        <p class="form__text">Залиште заявку або телефонуйте за номером <span class="form__text__accent">(099) 111 22 33</span>, і наш менеджер звяжеться з вами для кваліфікованої консультації.</p>
    </div>
  </div>
</sectio>
