<section class="category">
  <div class="container">
    <h2 class="section__title">Категорії товарів</h2>
    <ul class="category__list">
      <li class="category__item">
        <a class="category__item__link" href="#">
          <svg class="category__icon" aria-label="arrow">
            <use href="./images/category.svg#icon-living-room"></use>
          </svg>
          <p class="category__name">Дивани</p>
        </a>
      </li>
      <li class="category__item">
        <a class="category__item__link" href="#">
          <svg class="category__icon" aria-label="arrow">
            <use href="./images/category.svg#icon-bedroom"></use>
          </svg>
          <p class="category__name">Ліжка</p>
        </a>
      </li>
      <li class="category__item">
        <a class="category__item__link" href="#">
          <svg class="category__icon" aria-label="arrow">
            <use href="./images/category.svg#icon-armchair"></use>
          </svg>
          <p class="category__name">Крісла</p>
        </a>
      </li>
      <li class="category__item">
        <a class="category__item__link" href="#">
          <svg class="category__icon" aria-label="arrow">
            <use href="./images/category.svg#icon-wardrobe2"></use>
          </svg>
          <p class="category__name">комоди</p>
        </a>
      </li>
      <li class="category__item">
        <a class="category__item__link" href="#">
          <svg class="category__icon" aria-label="arrow">
            <use href="./images/category.svg#icon-wardrobe"></use>
          </svg>
          <p class="category__name">Шафи</p>
        </a>
      </li>
      <li class="category__item">
        <a class="category__item__link" href="#">
          <svg class="category__icon" aria-label="arrow">
            <use href="./images/category.svg#icon-kitchen"></use>
          </svg>
          <p class="category__name">Кухня</p>
        </a>
      </li>
    </ul>

    <!-- =========================================================== -->

    <ul class="price__cart">
      <li class="cart__item">
        <div class="category__cart">
          <img src="./images/category/one.png" alt="one" />
          <p class="cart-new">Новинка</p>
          <ul class="cart-text">
            <li>Ліжко Рамона</li>
            <li>8 999 грн</li>
          </ul>
        </div>
      </li>

      <li class="cart__item">
        <div class="category__cart">
          <img src="./images/category/two.png" alt="two" />
          <p class="cart-new">ХІт продаж</p>
          <p class="cart-sale">Акція</p>
          <ul class="cart-text">
            <li>Ліжко Честер</li>
            <li class="new-price">
              8 999 грн <s class="old-price">8 999 грн</s>
            </li>
          </ul>
        </div>
      </li>

      <li class="cart__item">
        <div class="category__cart">
          <img src="./images/category/three.png" alt="three" />
          <ul class="cart-text">
            <li>Ліжко Венеція люкс</li>
            <li>8 999 грн</li>
          </ul>
        </div>
      </li>

      <li class="cart__item">
        <div class="category__cart">
          <img src="./images/category/four.png" alt="four" />
          <p class="cart-new">Новинка</p>
          <ul class="cart-text">
            <li>Ліжко Імперія</li>
            <li>8 999 грн</li>
          </ul>
        </div>
      </li>

      <li class="cart__item">
        <div class="category__cart">
          <img src="./images/category/five.png" alt="five" />
          <ul class="cart-text">
            <li>Ліжко Адель</li>
            <li>8 999 грн</li>
          </ul>
        </div>
      </li>

      <li class="cart__item">
        <div class="category__cart">
          <img src="./images/category/six.png" alt="six" />
          <p class="cart-new">Новинка</p>
          <p class="cart-sale">Акція</p>
          <ul class="cart-text">
            <li>Ліжко Атлант</li>
            <li class="new-price">
              8 999 грн <s class="old-price">8 999 грн</s>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <button class="button category__button" type="button">В каталог</button>
  </div>
</section>
