<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__logo">
        <a href="#"><img src="./images/logo-footer.svg" alt="logo" /></a>
      </div>

      <!-- ========================================================== -->

      <div class="footer__lists__left">
        <div class="footer__lists">
          <ul class="footer__price__list">
            <li class="footer__lists__item">
              <span class="item__accent">—</span> Дивани
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> ліжка
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> Крісла
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> шафи
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> Кухні
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> комоди
            </li>
          </ul>

          <ul class="menu__list">
            <li class="footer__lists__item">
              <span class="item__accent">—</span> АкцІї
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> Доставка та оплата
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> про нас
            </li>
            <li class="footer__lists__item">
              <span class="item__accent">—</span> контакти
            </li>
          </ul>
        </div>
      </div>

      <!-- =========================================================== -->
      <div class="footer__lists__right">
        <ul class="location">
          <li class="location__item">
            <svg class="footer__icon" width="20" height="20" aria-label="map">
              <use href="./images/icons.svg#icon-map"></use></svg
            >TEST
          </li>
          <li class="location__item">
            <svg
              class="footer__icon"
              width="20"
              height="20"
              aria-label="calendar"
            >
              <use href="./images/icons.svg#icon-calendar"></use></svg
            >Пн-Пт, з 10 до 18
          </li>
          <li class="location__item">
            <svg
              class="footer__icon"
              width="20"
              height="20"
              aria-label="smartphone"
            >
              <use href="./images/icons.svg#icon-smartphone"></use>
            </svg>
            <a class="footer__icon__number" href="#">(099) 111 22 33</a>
          </li>
          <li class="location__item">
            <a class="footer__icon__number" href="#">(099) 222 33 44</a>
          </li>
        </ul>
        <!-- ==================================================== -->
        <p class="social__text">Ми в соціальних мережах:</p>
        <ul class="social">
          <li class="social__item">
            <svg
              class="social__icon"
              width="20"
              height="20"
              aria-label="smartphone"
            >
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </li>
          <li class="social__item">
            <svg
              class="social__icon"
              width="20"
              height="20"
              aria-label="smartphone"
            >
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="social__item">
            <svg
              class="social__icon"
              width="20"
              height="20"
              aria-label="smartphone"
            >
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </li>
        </ul>
      </div>

      <!-- ========================================================= -->

      <div class="signature">
        <span class="furniture"
          >&copy; ТОВ Furniture, працюємо з 2006 року</span
        >
        <span class="glyanec"
          ><img
            class="glyanec__icon"
            src="./images/glyanec.svg"
            alt="glyanec"
          />
          Глянець — розробка інтернет-магазинів</span
        >
      </div>
    </div>
  </div>
  <div class="footer__image"></div>
</footer>
