<section class="hero">
  <div class="container">
    <div class="novetly">
      <h1 class="novetly__title">Новинка!</h1>
      <h3 class="novetly__headline">Ліжко Ornella</h3>
      <p class="novetly__text">Це новий рівень комфортного сну</p>
      <button class="button button__novetly" type="button">Детальніше</button>
      <div class="hero__slider">
        <span class="slider__num"><span class="current__num">01</span>/04</span>
        <div class="slider__btn">
          <button class="button__slider" type="button">
            <svg width="30" height="30" aria-label="стрелка">
              <use href="./images/icons.svg#icon-left-arrow"></use>
            </svg>
          </button>
          <button class="button__slider--right" type="button">
            <svg width="30" height="30" aria-label="стрелка">
              <use href="./images/icons.svg#icon-left-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
