.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: getColor('accent');
  border: none;
  border-radius: 3px;

  font-family: $fontPrimary;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  text-transform: uppercase;
  color: getColor('primary');
  transition: all 500ms ease;

  @include respondTo(desktop) {
    font-size: 18px;
  }
}
