.examples-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respondTo(desktop) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.examples-item {
  width: 300px;
  cursor: pointer;
  @include respondTo(tablet) {
    width: 500px;
  }
  @include respondTo(tablet) {
    width: 400px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
    @include respondTo(desktop) {
      margin-bottom: 0;
    }
  }
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-image {
  width: 100%;
}

.examples-overlay {
  position: absolute;
  top: 10px;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(37%);
  transition: 250ms $transitionTiming;
  @include respondTo(tablet) {
    transform: translateY(49%);
  }
}

.examples-item:hover .examples-overlay,
.examples-item:focus .examples-overlay {
  opacity: 1;
  transform: translateY(0);
}

.examples-actions {
  padding: 63px 24px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.examples-title {
  display: inline-block;
  font-size: 18px;
  border-bottom: 2px solid getColor('accent');
  margin-bottom: 10px;
  @include respondTo(tablet) {
    font-size: 24px;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
}

.examples-text {
  font-size: 12px;
  letter-spacing: 0.06em;
  color: getColor('primary');

  @include respondTo(tablet) {
    font-size: 18px;
  }
}
