.hero {
  background-image: url(../images/about/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 500px;

  @include respondTo(tablet) {
    height: 600px;
  }

  @include respondTo(desktop) {
    height: 785px;
  }
}

.novetly {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 15px;
  width: 280px;
  height: 350px;
  background-color: getColor('primary');
  border-left: 15px solid getColor('accent');

  @include respondTo(tablet) {
    width: 400px;
    height: 500px;
    left: 40px;
  }

  @include respondTo(desktop) {
    width: 462px;
    height: 670px;
    left: 51px;
  }
}

.wave-text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  @include respondTo(tablet) {
    top: 8%;
  }

  @include respondTo(desktop) {
    top: 10%;
  }
}

.wave-text span {
  position: absolute;
  top: 0;
  left: 0;
}

.wave-text h2 {
  font-size: 40px;
  -webkit-text-stroke: 2px getColor('accent');
  color: transparent;
  font-family: $fontPrimary;
  @include respondTo(tablet) {
    font-size: 50px;
  }

  @include respondTo(desktop) {
    font-size: 60px;
  }
}

.wave-text span {
  font-size: 40px;
  font-weight: bold;
  color: getColor('accent');
  animation: wave 3s ease-in-out infinite;
  @include respondTo(tablet) {
    font-size: 50px;
  }

  @include respondTo(desktop) {
    font-size: 60px;
  }
}

@keyframes wave {
  0% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      53% 61%,
      70% 58%,
      64% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      53% 61%,
      70% 58%,
      64% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
}

.novetly__headline {
  font-family: $fontPrimary;
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  color: getColor('warning');

  margin-bottom: 5px;

  @include respondTo(tablet) {
    font-size: 28px;
    margin-bottom: 10px;
  }
  @include respondTo(desktop) {
    font-size: 36px;
  }
}

.novetly__text {
  font-family: $fontPrimary;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: getColor('warning');
  margin-bottom: 10px;

  @include respondTo(tablet) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @include respondTo(desktop) {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

.button__novetly {
  width: 120px;
  height: 25px;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include respondTo(tablet) {
    width: 160px;
    height: 35px;
    margin-bottom: 40px;
  }

  @include respondTo(desktop) {
    width: 209px;
    height: 51px;
    margin-bottom: 50px;
  }
}

.slider__num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $fontPrimary;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: getColor('warning');

  @include respondTo(tablet) {
    font-size: 18px;
  }

  @include respondTo(desktop) {
    font-size: 24px;
  }
}

.current__num {
  font-size: 18px;

  @include respondTo(tablet) {
    font-size: 24px;
  }

  @include respondTo(desktop) {
    font-size: 36px;
  }
}

.slider__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button__slider {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
  &:hover,
  :focus {
    opacity: 0.5;
  }

  &--right {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(180deg);
    margin-top: -8px;
    transition: all 300ms ease;
    &:hover,
    :focus {
      opacity: 0.5;
    }
  }
}
